# Define environment variables as they are not available for cron
IRRIGATION_CONFIG_FILE='/var/private/config.ini'
IRRIGATION_LOG_PATH='/var/control/'
IRRIGATION_SCRIPT_PATH='/scripts/'

# check for and run scheduled irrigations every one minute
*/1 * * * * python3 /scripts/watchdog.py >>/var/control/irrigation.log 2>&1

# Close the Solenoids every hour, just in case
59 * * * * python3 /scripts/closeall.py scheduled >>/var/control/irrigation.log 2>&1

# store sensor data every 10 minutes
*/10 * * * * python3 /scripts/sensortodb.py >>/var/control/sensor.log 2>&1
